*/package-lock.json
*/dist
*/node_modules 
backend/sessions/fb-browser-session/.parentlock
backend/sessions/fb-browser-session/activity-stream.weather_feed.json
backend/sessions/fb-browser-session/addonStartup.json.lz4
backend/sessions/fb-browser-session/bounce-tracking-protection.sqlite
backend/sessions/fb-browser-session/cert9.db
backend/sessions/fb-browser-session/compatibility.ini
backend/sessions/fb-browser-session/containers.json
backend/sessions/fb-browser-session/content-prefs.sqlite
backend/sessions/fb-browser-session/cookies.sqlite
backend/sessions/fb-browser-session/domain_to_categories.sqlite
backend/sessions/fb-browser-session/domain_to_categories.sqlite-journal
backend/sessions/fb-browser-session/extension-preferences.json
backend/sessions/fb-browser-session/extensions.json
backend/sessions/fb-browser-session/favicons.sqlite
backend/sessions/fb-browser-session/favicons.sqlite-wal
backend/sessions/fb-browser-session/handlers.json
backend/sessions/fb-browser-session/key4.db
backend/sessions/fb-browser-session/lock
backend/sessions/fb-browser-session/permissions.sqlite
backend/sessions/fb-browser-session/pkcs11.txt
backend/sessions/fb-browser-session/places.sqlite
backend/sessions/fb-browser-session/places.sqlite-wal
backend/sessions/fb-browser-session/prefs.js
backend/sessions/fb-browser-session/sessionCheckpoints.json
backend/sessions/fb-browser-session/sessionstore.jsonlz4
backend/sessions/fb-browser-session/shield-preference-experiments.json
backend/sessions/fb-browser-session/SiteSecurityServiceState.bin
backend/sessions/fb-browser-session/storage.sqlite
backend/sessions/fb-browser-session/Telemetry.ShutdownTime.txt
backend/sessions/fb-browser-session/times.json
backend/sessions/fb-browser-session/xulstore.json
backend/sessions/fb-browser-session/cache2/ce_T151c2VyQ29udGV4dElkPTUs
backend/sessions/fb-browser-session/cache2/ce_T151c2VyQ29udGV4dElkPTUsYSw=
backend/sessions/fb-browser-session/cache2/doomed/92057008
backend/sessions/fb-browser-session/cache2/doomed/143037784
backend/sessions/fb-browser-session/cache2/doomed/184001921
backend/sessions/fb-browser-session/cache2/doomed/184796168
backend/sessions/fb-browser-session/cache2/doomed/194037208
backend/sessions/fb-browser-session/cache2/doomed/250353525
backend/sessions/fb-browser-session/cache2/doomed/289125608
backend/sessions/fb-browser-session/cache2/doomed/400430472
backend/sessions/fb-browser-session/cache2/doomed/421738264
backend/sessions/fb-browser-session/cache2/doomed/429016815
backend/sessions/fb-browser-session/cache2/doomed/467109864
backend/sessions/fb-browser-session/cache2/doomed/533401179
backend/sessions/fb-browser-session/cache2/doomed/614565476
backend/sessions/fb-browser-session/cache2/doomed/711226611
backend/sessions/fb-browser-session/cache2/doomed/816094841
backend/sessions/fb-browser-session/cache2/doomed/948491350
backend/sessions/fb-browser-session/cache2/doomed/970069093
backend/sessions/fb-browser-session/cache2/doomed/996515457
backend/sessions/fb-browser-session/cache2/doomed/1056086686
backend/sessions/fb-browser-session/cache2/doomed/1130432656
backend/sessions/fb-browser-session/cache2/doomed/1132999256
backend/sessions/fb-browser-session/cache2/doomed/1179137090
backend/sessions/fb-browser-session/cache2/doomed/1244697203
backend/sessions/fb-browser-session/cache2/doomed/1256867921
backend/sessions/fb-browser-session/cache2/doomed/1279605492
backend/sessions/fb-browser-session/cache2/doomed/1320686170
backend/sessions/fb-browser-session/cache2/doomed/1324058955
backend/sessions/fb-browser-session/cache2/doomed/1380672765
backend/sessions/fb-browser-session/cache2/doomed/1427469535
backend/sessions/fb-browser-session/cache2/doomed/1520369307
backend/sessions/fb-browser-session/cache2/doomed/1670217724
backend/sessions/fb-browser-session/cache2/doomed/1762423624
backend/sessions/fb-browser-session/cache2/doomed/1854707597
backend/sessions/fb-browser-session/cache2/doomed/1932287487
backend/sessions/fb-browser-session/cache2/doomed/1946424924
backend/sessions/fb-browser-session/cache2/entries/97AE667565B6120DDEBF42730CC21468FE5AC36E
backend/sessions/fb-browser-session/datareporting/session-state.json
backend/sessions/fb-browser-session/datareporting/state.json
backend/sessions/fb-browser-session/datareporting/archived/2025-06/1749465430796.9de922fb-2ac9-4428-b0aa-1ff9763c0e57.new-profile.jsonlz4
backend/sessions/fb-browser-session/datareporting/archived/2025-06/1749465430798.af7ab762-635c-4c72-a610-9c6f1daf374e.event.jsonlz4
backend/sessions/fb-browser-session/datareporting/archived/2025-06/1749465430804.dedf478d-905b-49bd-8222-e876394db618.main.jsonlz4
backend/sessions/fb-browser-session/datareporting/archived/2025-06/1749465430807.40992993-4a78-4925-b95c-a6bc62e1c46c.first-shutdown.jsonlz4
backend/sessions/fb-browser-session/datareporting/glean/db/data.safe.bin
backend/sessions/fb-browser-session/startupCache/scriptCache-child.bin
backend/sessions/fb-browser-session/startupCache/scriptCache.bin
backend/sessions/fb-browser-session/startupCache/startupCache.8.little
backend/sessions/fb-browser-session/startupCache/urlCache.bin
backend/sessions/fb-browser-session/startupCache/webext.sc.lz4
backend/sessions/fb-browser-session/storage/ls-archive.sqlite
backend/sessions/fb-browser-session/storage/permanent/chrome/.metadata-v2
backend/sessions/fb-browser-session/storage/permanent/chrome/idb/1451318868ntouromlalnodry--epcr.sqlite
backend/sessions/fb-browser-session/storage/permanent/chrome/idb/1451318868ntouromlalnodry--epcr.sqlite-wal
backend/sessions/fb-browser-session/storage/permanent/chrome/idb/1657114595AmcateirvtiSty.sqlite
backend/sessions/fb-browser-session/storage/permanent/chrome/idb/1657114595AmcateirvtiSty.sqlite-wal
backend/sessions/fb-browser-session/storage/permanent/chrome/idb/2823318777ntouromlalnodry--naod.sqlite
backend/sessions/fb-browser-session/storage/permanent/chrome/idb/2823318777ntouromlalnodry--naod.sqlite-wal
backend/sessions/fb-browser-session/storage/permanent/chrome/idb/3561288849sdhlie.sqlite
backend/sessions/fb-browser-session/storage/permanent/chrome/idb/3561288849sdhlie.sqlite-wal
backend/sessions/fb-browser-session/storage/permanent/chrome/idb/3870112724rsegmnoittet-es.sqlite
backend/sessions/fb-browser-session/storage/permanent/chrome/idb/3870112724rsegmnoittet-es.sqlite-wal
